$relative-image-path-for-uis: '../../ext-4.2/resources/themes/images/gray';
@import 'ext-theme-base/sass/src/Component';
@import 'ext-theme-base/sass/src/layout/container/Container';
@import 'ext-theme-base/sass/src/LoadMask';
@import 'ext-theme-base/sass/src/ProgressBar';
@import 'ext-theme-base/sass/src/button/Button';
@import 'ext-theme-base/sass/src/layout/container/Box';
@import 'ext-theme-base/sass/src/toolbar/Toolbar';
@import 'ext-theme-base/sass/src/layout/component/Dock';
@import 'ext-theme-base/sass/src/panel/Header';
@import 'ext-theme-base/sass/src/dd/DD';
@import 'ext-theme-base/sass/src/dd/StatusProxy';
@import 'ext-theme-base/sass/src/panel/Panel';
@import 'ext-theme-base/sass/src/tip/Tip';
@import 'ext-theme-base/sass/src/layout/container/Table';
@import 'ext-theme-base/sass/src/container/ButtonGroup';
@import 'ext-theme-base/sass/src/container/Viewport';
@import 'ext-theme-base/sass/src/window/Window';
@import 'ext-theme-base/sass/src/form/Labelable';
@import 'ext-theme-base/sass/src/form/field/TextArea';
@import 'ext-theme-base/sass/src/form/CheckboxGroup';
@import 'ext-theme-base/sass/src/form/FieldSet';
@import 'ext-theme-base/sass/src/form/Panel';
@import 'ext-theme-base/sass/src/form/field/Checkbox';
@import 'ext-theme-base/sass/src/form/field/Trigger';
@import 'ext-theme-base/sass/src/form/field/Spinner';
@import 'ext-theme-base/sass/src/view/BoundList';
@import 'ext-theme-base/sass/src/picker/Date';
@import 'ext-theme-base/sass/src/form/field/File';
@import 'ext-theme-base/sass/src/form/field/Hidden';
@import 'ext-theme-base/sass/src/picker/Color';
@import 'ext-theme-base/sass/src/form/field/HtmlEditor';
@import 'ext-theme-base/sass/src/layout/container/Fit';
@import 'ext-theme-base/sass/src/panel/Table';
@import 'ext-theme-base/sass/src/layout/container/Absolute';
@import 'ext-theme-base/sass/src/resizer/Splitter';
@import 'ext-theme-base/sass/src/layout/container/Border';
@import 'ext-theme-base/sass/src/layout/container/Column';
@import 'ext-theme-base/sass/src/layout/container/Form';
@import 'ext-theme-base/sass/src/menu/Menu';
@import 'ext-theme-base/sass/src/resizer/SplitterTracker';
@import 'ext-theme-base/sass/src/slider/Multi';
@import 'ext-theme-base/sass/src/tab/Panel';
@import 'ext-theme-base/sass/src/draw/Component';
$relative-image-path-for-uis: '../../ext-4.2/resources/themes/images/gray';
@import 'ext-theme-neutral/sass/src/Component';
@import 'ext-theme-neutral/sass/src/Editor';
@import 'ext-theme-neutral/sass/src/FocusManager';
@import 'ext-theme-neutral/sass/src/LoadMask';
@import 'ext-theme-neutral/sass/src/ProgressBar';
@import 'ext-theme-neutral/sass/src/button/Button';
@import 'ext-theme-neutral/sass/src/toolbar/Toolbar';
@import 'ext-theme-neutral/sass/src/panel/Header';
@import 'ext-theme-neutral/sass/src/panel/Panel';
@import 'ext-theme-neutral/sass/src/tip/Tip';
@import 'ext-theme-neutral/sass/src/container/ButtonGroup';
@import 'ext-theme-neutral/sass/src/window/Window';
@import 'ext-theme-neutral/sass/src/form/Labelable';
@import 'ext-theme-neutral/sass/src/form/field/Base';
@import 'ext-theme-neutral/sass/src/form/field/Text';
@import 'ext-theme-neutral/sass/src/form/field/TextArea';
@import 'ext-theme-neutral/sass/src/form/field/Display';
@import 'ext-theme-neutral/sass/src/window/MessageBox';
@import 'ext-theme-neutral/sass/src/form/CheckboxGroup';
@import 'ext-theme-neutral/sass/src/form/FieldSet';
@import 'ext-theme-neutral/sass/src/form/field/Checkbox';
@import 'ext-theme-neutral/sass/src/form/field/Trigger';
@import 'ext-theme-neutral/sass/src/form/field/Spinner';
@import 'ext-theme-neutral/sass/src/toolbar/Paging';
@import 'ext-theme-neutral/sass/src/view/BoundList';
@import 'ext-theme-neutral/sass/src/picker/Date';
@import 'ext-theme-neutral/sass/src/form/field/Date';
@import 'ext-theme-neutral/sass/src/form/field/File';
@import 'ext-theme-neutral/sass/src/picker/Color';
@import 'ext-theme-neutral/sass/src/form/field/HtmlEditor';
@import 'ext-theme-neutral/sass/src/form/field/Radio';
@import 'ext-theme-neutral/sass/src/panel/Table';
@import 'ext-theme-neutral/sass/src/grid/header/DropZone';
@import 'ext-theme-neutral/sass/src/grid/header/Container';
@import 'ext-theme-neutral/sass/src/grid/column/Column';
@import 'ext-theme-neutral/sass/src/view/DropZone';
@import 'ext-theme-neutral/sass/src/grid/column/Action';
@import 'ext-theme-neutral/sass/src/grid/column/CheckColumn';
@import 'ext-theme-neutral/sass/src/grid/feature/Grouping';
@import 'ext-theme-neutral/sass/src/grid/feature/RowBody';
@import 'ext-theme-neutral/sass/src/grid/feature/RowWrap';
@import 'ext-theme-neutral/sass/src/grid/feature/Summary';
@import 'ext-theme-neutral/sass/src/grid/locking/Lockable';
@import 'ext-theme-neutral/sass/src/grid/plugin/Editing';
@import 'ext-theme-neutral/sass/src/grid/plugin/CellEditing';
@import 'ext-theme-neutral/sass/src/grid/plugin/RowEditing';
@import 'ext-theme-neutral/sass/src/grid/plugin/RowExpander';
@import 'ext-theme-neutral/sass/src/grid/property/Grid';
@import 'ext-theme-neutral/sass/src/layout/container/Accordion';
@import 'ext-theme-neutral/sass/src/resizer/Splitter';
@import 'ext-theme-neutral/sass/src/layout/container/Border';
@import 'ext-theme-neutral/sass/src/menu/Menu';
@import 'ext-theme-neutral/sass/src/panel/Tool';
@import 'ext-theme-neutral/sass/src/resizer/Resizer';
@import 'ext-theme-neutral/sass/src/slider/Multi';
@import 'ext-theme-neutral/sass/src/selection/CheckboxModel';
@import 'ext-theme-neutral/sass/src/tab/Panel';
@import 'ext-theme-neutral/sass/src/tree/Panel';
@import 'ext-theme-neutral/sass/src/tree/ViewDropZone';
$relative-image-path-for-uis: '../../ext-4.2/resources/themes/images/gray';
@import 'ext-theme-classic/sass/src/dom/Element';
@import 'ext-theme-classic/sass/src/toolbar/Toolbar';
@import 'ext-theme-classic/sass/src/window/MessageBox';
@import 'ext-theme-classic/sass/src/form/field/Trigger';
@import 'ext-theme-classic/sass/src/form/field/Spinner';
@import 'ext-theme-classic/sass/src/form/field/HtmlEditor';
@import 'ext-theme-classic/sass/src/grid/column/Column';
@import 'ext-theme-classic/sass/src/grid/plugin/Editing';
@import 'ext-theme-classic/sass/src/grid/plugin/RowEditing';
@import 'ext-theme-classic/sass/src/layout/container/Accordion';
@import 'ext-theme-classic/sass/src/resizer/Resizer';
@import 'ext-theme-classic/sass/src/slider/Multi';
@import 'ext-theme-classic/sass/src/tab/Panel';
