$grid-header-padding: 10px 0 10px 5px;
$grid-cell-inner-padding: 10px 0 10px 5px;

// ===============================
// ========= GRID HEADER =========
// ===============================
$grid-header-background-color: $xcp-grid-header-background-color;
$grid-header-background-gradient: $xcp-grid-header-background-gradient;
$grid-header-over-background-color: $xcp-grid-header-over-background-color;
$grid-header-over-background-gradient: $xcp-grid-header-over-background-gradient;
$grid-header-over-border-color: $xcp-grid-header-over-border-color;
// ===============================
// ========= GRID ROWS ===========
// ===============================

$grid-row-cell-font: $xcp-grid-row-cell-font;

//row body
$grid-row-body-font: $xcp-grid-row-body-font;

//row cell
$grid-row-cell-background: $xcp-grid-row-cell-background;
$grid-row-cell-border-color: $xcp-grid-row-cell-border-color;

//row cell alt
$grid-row-cell-alt-background: $xcp-grid-row-cell-alt-background;

//row cell over
$grid-row-cell-over-background-color: $xcp-grid-row-cell-over-background-color;
$grid-row-cell-over-background-gradient: $xcp-grid-row-cell-over-background-gradient;

//row cell selected
$grid-row-cell-selected-background-color: $xcp-grid-row-cell-selected-background-color;

//row cell focus
$grid-row-cell-focus-background-color: $xcp-grid-row-cell-focus-background-color;
$grid-row-cell-focus-background-gradient: $xcp-grid-row-cell-focus-background-gradient;

