//background
$tip-background-color: $xcp-tooltip-background-color;

//border
$tip-border-color: $xcp-tooltip-border-color;
$tip-border-width: 1px;
$tip-border-radius: 4px;

//body
$tip-body-padding: 0;

//text
$tip-body-color      : $xcp-widget-value-text-font-color;
$tip-body-font-size  : $xcp-widget-value-text-font-size;
$tip-body-font-weight: $xcp-widget-value-text-font-weight;

