$toolbar-background-color: $xcp-widget-interior-background-color;

$toolbar-background-gradient: none;
//Border Color
$toolbar-border-color: $xcp-widget-border-color;
$tabbar-border-color: $xcp-widget-border-color;
$toolbar-vertical-spacing: 0px;
$toolbar-horizontal-spacing: 0px;
$toolbar-text-line-height: $xcp-app-menu-label-text-font-size;

//separator
$toolbar-separator-color: $xcp-toolbar-separator-color;
$toolbar-separator-highlight-color: $xcp-toolbar-separator-highlight-color;
