$window-header-color:$xcp-widget-header-color;
$window-body-border-color: $xcp-widget-border-color;

$window-header-font-size: $xcp-widget-title-text-font-size;
$window-header-font-weight:$xcp-widget-title-text-font-weight;

$window-border-radius: $xcp-dialog-border-radius;

$window-inner-border-color: $xcp-widget-border-color;
$window-border-color: $xcp-widget-border-color;
$window-body-background-color:$xcp-widget-interior-background-color;
$window-background-color:$xcp-widget-panel-color;
$window-inner-border-color: $xcp-window-shadow-color;
