@mixin xcp-all {
    body {
        font-size: $xcp-default-font-size;
        font-family: $xcp-default-font-family;
    }


    .#{$prefix}mask {
        @include opacity($xcp-loadmask-opacity);
        background: $xcp-loadmask-backgorund;
    }

    // $menu-text-color: $xcp-widget-value-text-font-color;

    /** Widget Value Text **/
    .xcp_plain_text-cls, .xcp_rich_text-cls {
        @include  xcp-widget-value-text;
    }

    .xcp_rich_text-cls {
        ol li{
            list-style-type: decimal;
            list-style-position: inside;
        }

        ul li {
            list-style-type: disc;
            list-style-position: inside;
        }
    }

    /** cursor shows busy style for action **/
    .xcp_loading, .xcp_loading * {
        cursor: progress !important;
    }

    .#{$prefix}tool-img {
       background-repeat: no-repeat;
    }
}