@mixin xcp-form {
    /** Widget Text label **/
    .#{$prefix}form-item-label {
        @include xcp-widget-label-text;
    }

     /** Tucks the label under the field **/
    .#{$prefix}form-item-label {
        overflow: hidden;
    }

    /** Validation error label style **/
    .xcp_form_field_validation_label {
        font-weight: bold;
    }

    .x-form-checkbox.x-form-invalid-field {
        $background-image: theme-image('form/checkbox.gif', $relative-image-path-for-uis);
        background-image: url($background-image);
        background-position: -52px 0;
    }

    .x-form-cb-checked .x-form-checkbox.x-form-invalid-field {
        background-position: -52px -13px;
    }

     /** Fixes an IE bug where just setting height to 22px; in ext was causing the text to appear at the top of the input, because of padding and something else 18 seems to center it better then 22 (for all zooms) **/
    .#{$prefix}border-box .#{$prefix}form-text {
      line-height: 18px !important;
    }

    /** Disabled form labels should have normal opacity */
    .x-item-disabled .x-form-item-label {
        @include opacity(1);
    }

    /** Disabled form values should have .4 opacity */
    .#{$prefix}item-disabled .#{$prefix}form-field,
    .#{$prefix}item-disabled .#{$prefix}form-trigger
    {
        @include opacity(0.4);
    }

    /** Keeping the quick tip for multi value widget errors top aligned */
    .xcp_multivalueinput td[id$="sideErrorCell"] {
      vertical-align: top;
    }

    /** Invalid and in focus text area*/
    textarea.x-form-focus.x-form-invalid-field{
      background-color: #ffd9cc;
      background-repeat: repeat-x;
      background-position: bottom;
      border-color: #cc3300;
    }

    /** Invalid and in focus text area*/
  .x-boxselect-input .x-form-focus .x-form-invalid-field, .x-boxselect-input .x-form-invalid-field{
      background-color: #ffd9cc;
      background-repeat: repeat-x;
      background-position: bottom;
      border-color: #cc3300;
    }

    /** Asterisk indicating a form field is mandatory*/
    .xcp-form-required-field:after {
      content: ' *';
      color: red;
      font-weight: bold;
    }

    .xcp-error-display-area ul {
      background-color: #ffd9cc;
      border-style: solid !important;
      border-color: #CC3300 !important;
      border-width: 1px 1px 1px 1px !important;
    }

    li.xcp-error-item {
      cursor: pointer;
    }
}