$builder-id: "#xcp_pageEditor_paletteContextData";
$builder-prefix: xcp-builder-;

$selectable-widget-border-color : #808080;
$selected-widget-border-color : #ff9900;

$xcp-builder-border: #999999;

$xcp-builder-toolbar: #EEEEEE;

/** Menu **/
$xcp-builder-menu-separator-color: #CCCCCC;
$xcp-builder-menu-item-font: Tahoma;
$xcp-builder-menu-item-font-color: #000000;
$xcp-builder-menu-item-font-size: 11px;
$xcp-builder-menu-item-background-over: #D9E8FB;
$xcp-builder-menu-item-active-border-color: #B7CADE; 



/** Normal Text **/
$xcp-builder-normal-font: Tahoma; 
$xcp-builder-normal-font-size: 11px;
$xcp-builder-normal-font-weight: normal;
$xcp-builder-normal-font-color: #000000;

/**Copy from Runtime variables **/
$xcp-app-menu-bottom-border-color: #3399CC;