@mixin xcp-field {

	.#{$prefix}form-focus,
    .#{$prefix}boxselect-input .#{$prefix}form-focus,
    textarea.#{$prefix}form-focus,
    .#{$prefix}boxselect .form-focus
    {
        border-color: $xcp-widget-border-color-focus;
        background-color: $xcp-widget-field-background-color-focus;
    }

    .#{$prefix}form-text,
    textarea.#{$prefix}form-field{
    	@if $form-field-background-image {
            $background-image: theme-image($form-field-background-image, $relative-image-path-for-uis);
            background-image: url($background-image);
        }
    }
    
    .#{$prefix}form-empty-field, textarea.#{$prefix}form-empty-field {
        font: normal $xcp-default-font-size $xcp-default-font-family;
    }

    #_topPageContainer, #root, .xcp_wizard-cls {
        .#{$prefix}form-field,
        .#{$prefix}form-display-field {
            margin: 0 0 0 0;

            font: $form-field-font;
            color: $form-field-color;
            word-wrap:break-word; // To allow breaking when necessary for long words
        }

        .#{$prefix}form-radio,
        .#{$prefix}form-checkbox {
           margin-top: 3px;
        }
    }

    // For iPad, where word-wrap:break-word isn't working - remove when word-wrap:break-word consistently working
    .x-ipad {
        #_topPageContainer, #root, .xcp_wizard-cls {
            .#{$prefix}form-field,
            .#{$prefix}form-display-field {
                word-break:break-all;
            }
        }
    }

    .x-boundlist-item {
        min-height: 20px;
    }
}