$xcp-menu-trigger-arrow: 'menu/nav_trigger_down_default.png';
$xcp-menu-trigger-arrow-over: 'menu/menu_trigger_down_on.png';

$xcp-split-button-trigger-default: 'button/btn_arrow.png';
$xcp-split-button-trigger-on: 'button/btn_arrow_on.png';
