$xcp-facet-item-padding: 3px 0;
$xcp-facet-label-padding-left: 20px;
$xcp-facet-value-text-padding: 0 0 0 $xcp-facet-label-padding-left + 10;
$xcp-facet-background: #FFFFFF;
$xcp-facet-value-over-color: #3399CC;
$xcp-facet-value-over-font-weight: normal;
$xcp-facet-value-over-font-size: 12px;
$xcp-facet-value-over-text-decoration: normal;
$xcp-facet-group-label-expanded-color: #363636;
$xcp-facet-group-label-collapsed-color: #707070;
$xcp-facet-simple-margin:  3px 3px 4px 3px;
$xcp-facet-breadcrumb-align-ltr: left;
$xcp-facet-breadcrumb-align-rtl: right;
