$xcp-form-field-border-color: $xcp-widget-border-color;
$xcp-form-trigger-border-bottom-color: $xcp-widget-border-color;

$xcp-form-trigger-border-bottom-color-over: $xcp-widget-border-color;
$xcp-form-trigger-border-bottom-color-focus: #959595;
$xcp-form-trigger-border-bottom-color-focus-over: $xcp-form-trigger-border-bottom-color-focus;
$xcp-form-trigger-border-bottom-color-pressed: $xcp-form-trigger-border-bottom-color-focus;