//background
$xcp-dialog-header-background-color: $xcp-widget-header-color;
$xcp-dialog-header-background-gradient: 'panel-header';

//border
$xcp-dialog-border-radius: 3px;

$xcp-dialog-header-padding: 5px;

$xcp-dialog-header-font-color: $xcp-widget-title-text-font-color;
$xcp-dialog-header-font-size: $xcp-widget-title-text-font-size;
$xcp-dialog-header-font-family: $xcp-widget-title-text-font-family;

$xcp-dialog-background-color: $xcp-widget-interior-background-color;

$xcp-dialog-inner-border-color: $xcp-widget-panel-color;

$xcp-dialog-closer-background: #3399CC;

