.x-panel-header-default {
    background-color: transparent;
    background-image: none;
}
.x-panel-body-default {
    background-color: transparent;
}
.x-menu-icon-separator {
    border-left: 0;
}
.x-menu-item-link {
    padding: 5px 20px 5px 36px; 
    line-height: 16px;
}