@mixin xcp-builder-tabgroup {
	.xcp_tab_group-cls.xcp-widget-selectable {
		border-width: 3px !important;
	}
	
	.xcp_tab_group-cls.xcp-widget-selected {
		border-width: 3px !important;
	}
	
	.xcp_tab_group-cls.xcp-widget-base {
	 	border: solid 3px transparent;
	}
}